@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    @apply font-montserrat text-5xl lg:text-8xl;
  }
  input[type="text"],
  textarea {
    @apply ring-yellow-400 focus:ring-1;
  }
  .footer a {
    @apply hover:underline;
  }
  body {
    @apply font-poppins;
  }
  input,
  button,
  select {
    @apply focus:outline-none;
  }

  button {
    @apply ring-white focus:ring;
  }
  h2 {
    @apply text-2xl font-semibold text-black;
  }
  .card {
    @apply z-0 mt-4 flex w-72 transform flex-col 
    items-center overflow-hidden rounded-lg border-t-4 bg-white text-black shadow-3xl
     backdrop-filter duration-200 hover:-translate-y-1 hover:border-secondary;
  }
}
@layer utilities {
  .styled-scrollbar {
    @apply scrollbar scrollbar-thin scrollbar-track-white  scrollbar-thumb-secondary;
  }
  .react-select__menu-list {
    @apply .styled-scrollbar;
  }
}
html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.collapse {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.collapsed {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.landing-page {
  background-image: url("../public/assets/BlurredBG.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
