@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  textarea {
    @apply focus:ring-1 ring-yellow-400;
  }
  .footer a {
    @apply hover:underline;
  }
  body {
    @apply font-poppins;
  }
  td,
  th {
    @apply border border-primary p-2;
  }

  input,
  button,
  select {
    @apply focus:outline-none;
  }

  h2 {
    @apply font-semibold text-2xl text-black;
  }
  .card {
    @apply flex flex-col items-center rounded-lg w-72 overflow-hidden 
    bg-primary-dark mt-4 duration-200 transform shadow-3xl hover:-translate-y-1 border-t-4 text-white hover:border-pinkish backdrop-filter bg-opacity-80 backdrop-blur-sm;
  }
}
.ReactModal__Overlay {
  background-color: black;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.4) !important;

  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: black;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vh;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.landing-page {
  background: url("../assets/Illustration.svg");
  background-position: right -100px top -200px;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

@media (max-width: 1400px) {
  .landing-page {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
      url("../assets/Illustration.svg");
    background-position: center top;
    background-attachment: scroll;
    background-repeat: no-repeat;
  }
}
