@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  button,
  select {
    @apply focus:outline-none;
  }

  h2 {
    @apply font-semibold text-2xl text-black;
  }
  .card {
    @apply flex flex-col items-center rounded-lg w-72 overflow-hidden 
    bg-primary-dark mt-4 duration-200 transform shadow-3xl hover:-translate-y-1 border-t-4 text-white hover:border-pinkish backdrop-filter bg-opacity-80 backdrop-blur-sm;
  }
}
.ReactModal__Overlay {
  background-color: black;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.4) !important;

  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: black;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100vh;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1202%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1203)'%3e%3c/rect%3e%3cpath d='M29.71 -0.51L94.66 36.99L94.66 111.99L29.71 149.49L-35.24 111.99L-35.24 36.99zM744.2 336.99L809.16 374.49L809.16 449.49L744.2 486.99L679.25 449.49L679.25 374.49zM874.11 561.99L939.06 599.49L939.06 674.49L874.11 711.99L809.15 674.49L809.15 599.49zM939.06 -0.51L1004.02 36.99L1004.02 111.99L939.06 149.49L874.11 111.99L874.11 36.99zM939.06 224.49L1004.02 261.99L1004.02 336.99L939.06 374.49L874.11 336.99L874.11 261.99zM1068.97 224.49L1133.92 261.99L1133.92 336.99L1068.97 374.49L1004.02 336.99L1004.02 261.99zM1068.97 449.49L1133.92 486.99L1133.92 561.99L1068.97 599.49L1004.02 561.99L1004.02 486.99zM1263.83 561.99L1328.78 599.49L1328.78 674.49L1263.83 711.99L1198.88 674.49L1198.88 599.49zM1393.74 561.99L1458.69 599.49L1458.69 674.49L1393.74 711.99L1328.79 674.49L1328.79 599.49zM1458.69 224.49L1523.65 261.99L1523.65 336.99L1458.69 374.49L1393.74 336.99L1393.74 261.99z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M22.21 -0.51 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM87.16 36.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM87.16 111.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM22.21 149.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-42.74 111.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-42.74 36.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM736.7 336.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.66 374.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.66 449.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM736.7 486.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM671.75 449.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM671.75 374.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.61 561.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.56 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.56 674.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.61 711.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.65 674.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM801.65 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.56 -0.51 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.52 36.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.52 111.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.56 149.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.61 111.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.61 36.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.56 224.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.52 261.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.52 336.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM931.56 374.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.61 336.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM866.61 261.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.47 224.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.42 261.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.42 336.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.47 374.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.47 449.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.42 486.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1126.42 561.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1061.47 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.52 561.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM996.52 486.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.33 561.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1321.28 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1321.28 674.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1256.33 711.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1191.38 674.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1191.38 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.24 561.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.19 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.19 674.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.24 711.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1321.29 674.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1321.29 599.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.19 224.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.15 261.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1516.15 336.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1451.19 374.49 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.24 336.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1386.24 261.99 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M62.61 -9L122.37 25.5L122.37 94.5L62.61 129L2.85 94.5L2.85 25.5zM241.88 508.5L301.64 543L301.64 612L241.88 646.5L182.12 612L182.12 543zM301.64 -9L361.4 25.5L361.4 94.5L301.64 129L241.88 94.5L241.88 25.5zM361.4 301.5L421.15 336L421.15 405L361.4 439.5L301.64 405L301.64 336zM421.15 -9L480.91 25.5L480.91 94.5L421.15 129L361.4 94.5L361.4 25.5zM600.43 301.5L660.18 336L660.18 405L600.43 439.5L540.67 405L540.67 336zM660.18 -9L719.94 25.5L719.94 94.5L660.18 129L600.43 94.5L600.43 25.5zM719.94 94.5L779.7 129L779.7 198L719.94 232.5L660.18 198L660.18 129zM660.18 405L719.94 439.5L719.94 508.5L660.18 543L600.43 508.5L600.43 439.5zM779.7 405L839.46 439.5L839.46 508.5L779.7 543L719.94 508.5L719.94 439.5zM958.97 94.5L1018.73 129L1018.73 198L958.97 232.5L899.21 198L899.21 129zM899.21 198L958.97 232.5L958.97 301.5L899.21 336L839.46 301.5L839.46 232.5zM958.97 508.5L1018.73 543L1018.73 612L958.97 646.5L899.21 612L899.21 543zM1018.73 198L1078.49 232.5L1078.49 301.5L1018.73 336L958.97 301.5L958.97 232.5zM1078.49 301.5L1138.24 336L1138.24 405L1078.49 439.5L1018.73 405L1018.73 336zM1078.49 508.5L1138.24 543L1138.24 612L1078.49 646.5L1018.73 612L1018.73 543zM1138.24 -9L1198 25.5L1198 94.5L1138.24 129L1078.49 94.5L1078.49 25.5zM1198 301.5L1257.76 336L1257.76 405L1198 439.5L1138.24 405L1138.24 336zM1257.76 -9L1317.52 25.5L1317.52 94.5L1257.76 129L1198 94.5L1198 25.5zM1257.76 198L1317.52 232.5L1317.52 301.5L1257.76 336L1198 301.5L1198 232.5zM1257.76 405L1317.52 439.5L1317.52 508.5L1257.76 543L1198 508.5L1198 439.5zM1377.27 -9L1437.03 25.5L1437.03 94.5L1377.27 129L1317.52 94.5L1317.52 25.5zM1437.03 301.5L1496.79 336L1496.79 405L1437.03 439.5L1377.27 405L1377.27 336zM1556.55 508.5L1616.3 543L1616.3 612L1556.55 646.5L1496.79 612L1496.79 543z' stroke='rgba(153%2c 6%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1202'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1203'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(98%2c 0%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
}
